<div class="col-md-12">

    <div class="col-md-4 col-md-offset-4" style="padding-top: 25vh;">

        <div class="col-md-12 btn btn-reddrop" ng-click="ctrl.createRoom()" style="margin-bottom: 15px;">
            Create Room
        </div>

        <div class="form-group">
            <input ng-model="ctrl.username" type="text" class="form-control" placeholder="Username">
        </div>

        <div class="form-group">
            <input ng-model="ctrl.gameToken" type="text" class="form-control" placeholder="Game Token">
        </div>

        <div class="col-md-12 btn btn-reddrop" ng-click="ctrl.joinRoom()" style="margin-bottom: 15px;">
            Join Room
        </div>

    </div>

</div>